@tailwind base;
@tailwind components;
@tailwind utilities;




/*.ArrierePlan {*/
/*  background-color: #211426;*/
/*}*/
.text {
  color: #f2cd27;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #f2cd27;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--one {
  display: inline-block;
  border-radius: 40px;
  border: 1px solid #F25CCA;
  color: #F25CCA;
  text-decoration: none;
  padding: 15px 30px;
  margin-left: 50px;
}

.button--one:hover {
  color: #F2B441;
  background-color: #211426;
  border: 1px solid #F2B441;
}
/*======================================================================================*/
.button--two {
  display: inline-block;
  border-radius: 40px;
  border: 1px solid #F25CCA;
  color: #F25CCA;
  text-decoration: none;
  padding: 15px 30px;
  margin-left: 50px;
}

.button--two:hover {
  color: #f20625;
  background-color: #211426;
  border: 1px solid #f20625;
}
/*======================================================================================*/


.container {
  margin: 0 auto;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 72px;
  color: #D9814E;
}

.subtitle {
  font-weight: 300;
  font-size: 22px;
  color: #f2cd27;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.zoom{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.zoom:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.zoomImage{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.zoomImage:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
